# Node.js related
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs
*.log

# Dependency directories
jspm_packages/
bower_components/

# Built files
dist/
build/

# OS or editor files
.DS_Store
Thumbs.db

# IDE configuration
.vscode/
.idea/
*.iml

# Compiled binary addons (if any)
*.node

# Cache directories
.cache/

.next